/*CONTAINER*/
.container{
    background-color: rgb(249, 250, 250);
    color: rgb(6, 26, 45);
    display: grid;
    grid-template-areas: 'header header'
                         'nav nav'
                         'article article'
                         'footer footer';
    grid-template-rows: 1fr 0.3fr 3fr 1.4fr;
    font-size: 2.5vw;
}
/*--------*/



article{
    /*grid-area: article;
    background-color: transparent ;
    display: flex;
    flex-direction: column;
    align-items: center;*/
}

article .story-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 50%;
    font-size: 75%;
    height: 100%;
    position: relative;
}

article .story-text .text1{
    margin-top: 15%;
    opacity: 1;
    position:absolute;
}
article .story-text .text2{
    margin-top: 15%;
    opacity: 0;
    position:absolute;
}
article .story-text .text3{
    margin-top: 15%;
    opacity: 0;
    position:absolute;
}
article .story-text .text4{
    margin-top: 15%;
    opacity: 0;
    position:absolute;
}
article .text1 h2:first-child{
    font-size: 200%;
    text-decoration: underline;
}

article .story-text button{
    cursor: pointer;
}

article .story-text .buttonUp,.buttonDown {
    background-color:midnightblue;
    filter: drop-shadow(1px -1px 7px rgba(10, 9, 8, 0.733));
    color: #0d091f;
    height: 5vw;
    width: 5vw;
    align-self: center;
    
    animation: buttons 1s infinite;
    cursor: pointer;
    
}


@keyframes buttons{
    0%{
        transform: rotate(45deg);
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
        transform: rotate(45deg);
    }
    75%{
        transform: scale(0.8);
        
    }
    0%{
        transform: scale(1);
    }
}


.animarScroll{
    animation: animarScroll 1s forwards;
}

.desanimarScroll{
    animation: desanimarScroll 1s forwards;
}

@keyframes animarScroll{
    0%{
        opacity: 0;
        transform:rotate(180deg);
    }
    100%{
        opacity: 1;
        transform:rotate(360deg);
    }
}

@keyframes desanimarScroll{
    0%{
        opacity: 1;
        transform: translateX(50px);
    }
    50%{
        transform: translateX(400px);
    }
    100%{
        opacity: 0;
        transform: translateX(1000px);
    }
}