/*CONTAINER*/
.container{
    background-color: rgb(249, 250, 250);
    color: rgb(6, 26, 45);
    display: grid;
    grid-template-areas: 'nav nav'
                         'article aside'
                         'footer footer';
    grid-template-rows:  0.3fr 6fr 1.4fr;
   
    font-size: 2.5vw;
}
/*--------*/